* {
    max-width: 1536px;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    display: none
}

/*  Header  to fox this later */ 
.MainHeader {
    position: fixed;
    display: flex;
    background-color: white;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -1px 5px black;
    width: 100%;
    height: auto;
    z-index: 1;
}

.MainHeader >  .logo > img {
    width: 6rem;
    padding-left: 2rem;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
}

nav ul li a:hover {
    color: red;   
}

.account-icon {
    display: flex;
    height: 100%;
    padding: 18px;
    background-color: red;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 50px;
    height: 6px;
    background-color: white;
    margin: 8px 0;
    border-radius: 10px;
}

/* Menu Items Styles */
.menu-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}

.menu-items > li {
    padding: 25px;
}

#log-in {
    display: none;
}

/* the content */

.content {
    vertical-align: top;
    flex: 1;
    padding-top: 85px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .middlebox {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 10px 20px #333, -1px 10px 20px #333;
        & h1 {
            padding: 2rem;
        }
    }
}

/* this is a first box */

#first-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(homepage_img/second-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 60%;
    padding: 2rem;
    & #first-box-img {
        width: 40%;
        & img {
            height: auto;
            width: 100%;
        }
    }
    & #first-box-text {
        width: 60%;
        & h1 {
            padding: 1rem;
        }
        & h5 {
            padding: 1rem;
            text-align: justify;
        }
    }

}

#second-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: url(About_img/Blobs\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
    & #second-box-text {
        width: 60%;
        & h1 {
            padding: 1rem;
        }
        & h5 {
            padding: 1rem;
            text-align: justify;
        }
    }
    & #second-box-img {
        width: 40%;
        & img {
            height: auto;
            width: 100%;
        }
    }
}

/* Footer */

footer {
    height: 265px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    background-color: #FCE078;
}

footer > .footer-logo > img {
    display: flex;
    height: 230px;
    width: auto;
}

.descriptions-and-icons {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.description, .icons {
    padding: 20px;
    margin-bottom: 5px;
}

.description > p {
    font-size: 20px;
    font-weight: bold;
}

.icons > img {
    padding: 0 10px;
}

footer > .other-info > .des {
    display: flex;
    justify-content:left;
    padding: 20px;    
}

footer > .other-info > .des > img {
    padding: 0 2rem;
}

footer > .other-info > .des > p {
    font-size: 16px;
    font-weight: bold;
}

#destination:hover{
    cursor: pointer;
}

/* Laptop */

@media (max-width: 1024px) {
    .body {
        max-width: 768px;
    }

    .menu-items { 
        font-size: 22px; 
    }

    /* the content */
    .content {
        padding-top: 85px; 
    }

    .box > .middlebox{
        display: flex;
        width: 100%;
    }


    /* footer  */
    footer > .footer-logo > img {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer > .other-info > .des {
        display: flex;
        justify-content:left;
        padding: 10px; 
        height: 2rem;   
    }

    footer > .other-info > .des > p {
        font-size: 12px;
    }
    .description, .icons {
        display: flex;
        justify-content: left;
        height: 2rem;
    }

    .description > p {
        font-size: 12px; 
    }

    .icons > img {
        height: 2rem;
    }
}

/* Tablets */

@media (max-width: 768px) {
    body {
        max-width: none;
        width: 100%;
    }
    
    .menu-items {
        display: none;
    }

    .content {
        padding-top: 80px; 
    }

    .hamburger-menu {
        display: block;
        background-color: #D70000;
        padding: 15px;
    }

    .MainHeader > .logo > img {
        width: 6rem; 
    }

    .account-icon {
       display: none;
    }

    nav {
        display: block;
    }

    .menu-items {
        flex-direction: column;
        position: absolute;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.8);
        top: 80px; 
        left: 0;
        width: 100%;
        display: none;
        padding:  0;
        align-items: baseline;
        a {
            color: white;
            padding-left: 3rem;
        }
    }

    .menu-items::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0;
        background-image: url(homepage_img/dropdown-menu-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        filter: blur(3px);
        z-index: -1;
        opacity: 1;
    }
    
    #log-in {
        display: block;
        padding: 25px;
        padding-left: 4.5rem;
    }


    .menu-items.show {
        display: flex; 
        color: white;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box > .middlebox {
        width: 100%;
        display: flex;
    }

    .box > .middlebox > img {
        width: 50%;
    }



    /* this is a footer */
    footer {
        height: fit-content;
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    footer > .footer-logo > img {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description, .icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description > p {
        font-size: 16px; 
    }
}



/* small phones */
@media (max-width: 640px) {
    .body {
        max-width: 475px;
    }

    .MainHeader {
        height: 70px;
    }
    
    .bar {
        height: 4px;
        width: 35px;
        margin: 7px 0;
    }

    .hamburger-menu {
        display: block;
        padding: 15px;

    }

    .menu-items {
        top: 70px; 
    }

    nav {
        display: block;
    }

    .middlebox {
        padding-top: 90px; 
    }
    

    .content {
        padding: 0; 
    }

    .box > .middlebox{
        display: flex;
        width: 100%;

    }


    /* this is a footer */
    footer {
        height: fit-content;
        display: flex;
        flex-direction: column; 
        align-items: center; 

    }

    footer > .footer-logo > img {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description, .icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description > p {
        font-size: 14px; 
    }

}

/* smallest phones */

@media (max-width: 476px) {
    .body {
        max-width: 375px;
    }

    .hamburger-menu {
        display: block;
        margin-left: 2rem;

    }

    .MainHeader > .logo > img {
        width: 5rem; 
    }

    nav {
        display: block;
    }

    .content {
        padding: 0; 
    }

    .box > .middlebox{
        width: 100%;
    }

    
    /* this is a footer */

    footer {
        height: fit-content;
        display: flex;
        flex-direction: column; 
        align-items: center; 

    }

    footer > .footer-logo > img {
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description, .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        & p {
            font-size: 10px; 
        }
    }

}


@media (max-width: 376px) {
    .body {
        max-width: none;
        width: 100%;
    }

    nav {
        display: block;
    }

    .content {
        padding: 0; 
    }

    .box > .middlebox{
        width: 100%;
    }

    
    /* this is a footer */

    footer {
        height: fit-content;
        display: flex;
        flex-direction: column; 
        align-items: center; 

    }

    footer > .footer-logo > img {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description, .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        & p {
            font-size: 10px; 
        }
    }
}
