* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
    color: black;
    list-style: none;
}
::-webkit-scrollbar {
    display: none;
}

body, html {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

/* Header */
.MainHeader {
    position: fixed;
    display: flex;
    background-color: white;
    text-align: center;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -1px 5px black;
    width: 100%;
    height: 12%;
    z-index: 1;
}

.MainHeader .logo {
    height: 100%;
    width: 10%;
    margin-left: 1rem;
}

.MainHeader .logo img {
    height: 100%;
    width: auto;
}

.MainHeader nav {
    display: flex;
    height: 100%;
    width: 100%;
    padding: none;
}

.MainHeader nav .menu-items {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.MainHeader nav .menu-items #log-out {
    display: none;
}

.MainHeader nav .menu-items li {
    width: auto;
    font-size: 1.5vw;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.MainHeader nav .menu-items li:hover {
    transform: scale(1.2);
}

.MainHeader nav .menu-items li:hover a {
    color: #D70000;
}

.MainHeader nav .menu-items #account-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 6vw;
    background-color: #D70000;
}

.MainHeader nav .menu-items #account-icon a img {
    height: 100%;
    width: 80%;
}

.MainHeader nav .menu-items #account-icon:hover {
    transform: scale(0.7);
    background-color: black;
    border-radius: 50%;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    width: 6rem;
    align-items: center;
    justify-content: center;
    background-color: #D70000;
}

.hamburger-menu .bar {
    height: 100%;
    width: auto;
    background-color: white;
    border-radius: 1rem;
    width: 30px;
    height: 5px;
    margin: 4px 0;
    transition: 0.3s;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(homepage_img/dropdown-menu-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) grayscale(100%);
    z-index: -1;
    opacity: 1;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    margin: 20px;
    font-weight: 700;
}

.overlay a {
        width: 20%;
        padding: 8px;
        text-decoration: none;
        font-size: 5vw;
        color: white;
        display: flex;
        transition: 0.4s ease-in-out;
    }
    & a:hover {
        color: #D70000;
    }

.overlay .closebtn {
    width: 3rem;
    position: absolute;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    top: 20px;
    right: 0;
    cursor: pointer;
    box-shadow: none;
}

/* the content */
.content {
    vertical-align: top;
    flex: 1;
    padding-top: 70px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .middlebox {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 10px 20px #333, -1px 10px 20px #333;
}

/* Footer */
footer {
    height: 265px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    background-color: black;
    border-top: 5px #FCE078 solid;
    & .footer-logo {
        height: 100%;
        width: auto;
        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: auto;
            & img {
                height: 80%;
                width: auto;
                transition: 0.4s ease-in-out;
            }
        }
        & a:hover {     
            & img {
                transform: scale(1.03);
                box-shadow: 0 0 10px white; 
                border-radius: 12px;
            }
        }
    }
}



.descriptions-and-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.description, .icons {
    padding: 20px;
    margin-bottom: 5px;
}

.description > p {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.icons > img {
    padding: 0 10px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.icons > img:hover {
    box-shadow: 0 0 10px white; 
    transform: scale(1.05);
    border-radius: 12px;
}

footer > .other-info > .des {
    display: flex;
    justify-content: left;
    padding: 20px; 
    transition: 0.4s ease-in-out;   
}

footer > .other-info > .des:hover{
    padding: 20px;
    box-shadow: 0 0 10px white; 
    cursor: pointer;
}

footer > .other-info > .des > img {
    padding: 0 2rem;
}

footer > .other-info > .des > p {
    font-size: 16px;
    font-weight: bold;
    color: white;
}


/* Laptop */
@media (max-width: 1024px) {
    .body {
        max-width: 768px;
    }

    .MainHeader nav .menu-items #account-icon {
        width: 6rem;
    }

    a {
        font-size: 1.2rem;
    }

    /* the content */
    .content {
        padding-top: 70px; 
    }

    .box > .middlebox {
        display: flex;
        width: 100%;
    }

    /* footer */
    footer > .footer-logo > img {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer > .other-info > .des {
        display: flex;
        justify-content: left;
        padding: 10px; 
        height: 2rem;   
    }

    footer > .other-info > .des > p {
        font-size: 12px;
    }

    .description, .icons {
        display: flex;
        justify-content: left;
        height: 2rem;
    }

    .description > p {
        font-size: 12px; 
    }

    .icons > img {
        height: 2rem;
    }
}

/* Tablets */
@media (max-width: 768px) {
    body {
        max-width: none;
        width: 100%;
    }

    .MainHeader nav .menu-items {
        display: none;
    }

    .MainHeader .hamburger-menu {
        display: flex; 
        flex-direction: column; 
        cursor: pointer;
    }

    .content {
        padding-top: 70px; 
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box > .middlebox {
        width: 100%;
        display: flex;
    }

    .box > .middlebox > img {
        width: 50%;
    }

    /* this is a footer */
    footer {
        height: fit-content;
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    footer > .footer-logo > img {
        height: 150px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .descriptions-and-icons {
        width: 60%;
    }

    .description, .icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description > p {
        font-size: 16px; 
    }
}


/* small phones */
@media (max-width: 640px) {
    .body {
        max-width: 475px;
    }

    .MainHeader {
        height: 70px;
    }
    

    .menu-items {
        top: 70px; 
    }

    nav {
        display: block;
    }

    .middlebox {
        padding-top: 70px; 
    }
    

    .content {
        padding: 0; 
    }

    .box > .middlebox{
        display: flex;
        width: 100%;

    }


    /* this is a footer */
    footer > .footer-logo > img {
        height: 120px;
    }


    .description > p {
        font-size: 14px; 
    }

}

/* smallest phones */

@media (max-width: 476px) {
    .body {
        max-width: 375px;
    }

    .box > .middlebox{
        width: 100%;
    }

    /* this is a footer */


    footer > .footer-logo > img {
        height: 110px;
    }

    .description, .icons {
        & p {
            font-size: 10px; 
        }
    }

}


@media (max-width: 376px) {
    .body {
        max-width: none;
        width: 100%;
    }
 

    .box > .middlebox{
        width: 100%;
    }

    #second-page {
        background-size: 100% 40%;
    }

    
    /* this is a footer */

    footer > .footer-logo > img {
        height: 100px;
    }

    .description, .icons {
        & p {
            font-size: 10px; 
        }
    }
}
